@page "/Account/AccessDenied"
@layout Nutrir.Web.Components.Layout.AuthLayout

<PageTitle>Access denied</PageTitle>

<h2 class="auth-status-title">Access denied</h2>
<p class="auth-status-text">
    You do not have permission to access this resource.
</p>

<div class="text-center mt-6">
    <a href="Account/Login" class="text-sm">Back to sign in</a>
</div>
