@page "/Account/InvalidPasswordReset"
@layout Nutrir.Web.Components.Layout.AuthLayout

<PageTitle>Invalid password reset</PageTitle>

<h2 class="auth-status-title">Invalid password reset</h2>
<p class="auth-status-text" role="alert">
    The password reset link is invalid or has expired. Please request a new one.
</p>

<div class="mt-6">
    <a href="Account/ForgotPassword" class="btn btn-primary btn-lg btn-block">Request new reset link</a>
</div>
