@page "/Account/Lockout"
@layout Nutrir.Web.Components.Layout.AuthLayout

<PageTitle>Locked out</PageTitle>

<header>
    <h1>Locked out</h1>
    <p role="alert">This account has been locked out, please try again later.</p>
</header>
