@page "/Account/Lockout"
@layout Nutrir.Web.Components.Layout.AuthLayout

<PageTitle>Locked out</PageTitle>

<h2 class="auth-status-title">Account locked</h2>
<p class="auth-status-text" role="alert">
    This account has been locked out due to too many failed sign-in attempts. Please try again later.
</p>

<div class="text-center mt-6">
    <a href="Account/Login" class="text-sm">Back to sign in</a>
</div>
