@page "/Account/ResetPasswordConfirmation"
@layout Nutrir.Web.Components.Layout.AuthLayout

<PageTitle>Reset password confirmation</PageTitle>

<h2 class="auth-status-title">Password reset successful</h2>
<p class="auth-status-text" role="alert">
    Your password has been reset. You can now sign in with your new password.
</p>

<div class="mt-6">
    <a href="Account/Login" class="btn btn-primary btn-lg btn-block">Sign in</a>
</div>
