@using Microsoft.AspNetCore.Identity
@using Nutrir.Core.Entities

@inject SignInManager<ApplicationUser> SignInManager

<nav class="flex flex-col gap-1">
    <NavLink class="btn btn-ghost" href="Account/Manage" Match="NavLinkMatch.All" style="justify-content: flex-start;">Profile</NavLink>
    <NavLink class="btn btn-ghost" href="Account/Manage/Email" style="justify-content: flex-start;">Email</NavLink>
    <NavLink class="btn btn-ghost" href="Account/Manage/ChangePassword" style="justify-content: flex-start;">Password</NavLink>
    @if (hasExternalLogins)
    {
        <NavLink class="btn btn-ghost" href="Account/Manage/ExternalLogins" style="justify-content: flex-start;">External logins</NavLink>
    }
    <NavLink class="btn btn-ghost" href="Account/Manage/TwoFactorAuthentication" style="justify-content: flex-start;">Two-factor authentication</NavLink>
    <NavLink class="btn btn-ghost" href="Account/Manage/PersonalData" style="justify-content: flex-start;">Personal data</NavLink>
</nav>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
