@inherits LayoutComponentBase
@layout Nutrir.Web.Components.Layout.MainLayout

<div class="manage-page">
    <div class="page-header">
        <div>
            <h1 class="page-title">Account Settings</h1>
            <p class="page-subtitle">Manage your account preferences and security</p>
        </div>
    </div>
    <div class="manage-body">
        <div class="manage-sidebar">
            <ManageNavMenu />
        </div>
        <div class="manage-content">
            @Body
        </div>
    </div>
</div>
