@inherits LayoutComponentBase
@layout Nutrir.Web.Components.Layout.MainLayout

<div class="manage-layout">
    <div class="manage-layout-header">
        <h1>Manage your account</h1>
        <p class="text-muted">Change your account settings</p>
    </div>
    <div class="manage-layout-body">
        <div class="manage-layout-sidebar">
            <ManageNavMenu />
        </div>
        <div class="manage-layout-content">
            @Body
        </div>
    </div>
</div>
