@inherits LayoutComponentBase

<div class="cc-layout">
    <IconRailSidebar />
    <div class="cc-main">
        <TopBar />
        <div class="cc-body">
            @Body
        </div>
        <StatusBar />
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">&#x1f5d9;</span>
</div>
