<footer class="cc-status-bar">
    <div class="cc-status-left">
        <span class="cc-status-indicator">
            <span class="cc-status-dot"></span>
            Online
        </span>
    </div>
    <div class="cc-status-right">
        <span>Nutrir v1.0</span>
    </div>
</footer>
