<header class="cc-topbar">
    <div class="cc-topbar-left">
        <div class="cc-topbar-title-group">
            <span class="cc-breadcrumb" style="font-weight: 500; color: var(--color-text);">Nutrir</span>
        </div>
    </div>
    <div class="cc-topbar-right">
        <GlobalSearch />
        <AiToggleButton />
    </div>
</header>
