<label class="form-checkbox" @attributes="AdditionalAttributes">
    <input type="checkbox"
           checked="@Value"
           @onchange="HandleChange" />
    @Label
</label>

@code {
    [Parameter] public string? Label { get; set; }
    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private async Task HandleChange(ChangeEventArgs e)
    {
        Value = (bool)(e.Value ?? false);
        await ValueChanged.InvokeAsync(Value);
    }
}
